/* line 1, main_app/static/scss/style.scss */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column; }

/* line 7, main_app/static/scss/style.scss */
main {
  background: #ececec;
  flex: 1; }

/* line 12, main_app/static/scss/style.scss */
h1, h2, h3, h4, h5, h6 {
  color: #0c3967; }

/* line 16, main_app/static/scss/style.scss */
.card-img-top {
  padding-top: 85%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

/* line 23, main_app/static/scss/style.scss */
#page-header {
  position: relative;
  background-position: center;
  background-image: url("https://www.transparenttextures.com/patterns/maze-black.png"); }

/* line 29, main_app/static/scss/style.scss */
.overlay {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(29, 176, 232, 0.75); }

/* line 38, main_app/static/scss/style.scss */
.overlay + .container {
  position: relative; }
